<nav class="py-3 mb-5 py-sm-0">
    <div class="container d-flex align-items-center justify-content-between flex-sm-column px-sm-0 align-items-sm-start flex-sm-wrap">
        <a href="index.html" class="logo d-block py-sm-3 px-sm-3"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="logo"></a>
        <ul class="d-flex col-sm-4 flex-sm-wrap">
            <li class="col-sm-2 border-sm-1-white"><a href="#" class="d-block py-2 px-8 align-items-sm-center px-sm-3 text-align-sm-center fs-5 fs-sm-base">系列鏡框</a></li>
            <li class="col-sm-2 border-sm-1-white"><a href="../pages/store.html" class="d-block py-2 px-8 align-items-sm-center px-sm-3 text-align-sm-center fs-5 fs-sm-base">門市據點</a></li>
            <li class="col-sm-2 border-sm-1-white"><a href="#" class="d-block py-2 px-8 align-items-sm-center px-sm-3 text-align-sm-center fs-5 fs-sm-base">部落格</a></li>
            <li class="col-sm-2 border-sm-1-white"><a href="../pages/Q&A.html" class="d-block py-2 px-8 pr-0 align-items-sm-center px-sm-3 text-align-sm-center fs-5 fs-sm-base">常見問題</a></li>
        </ul>
    </div>
</nav>