<nav>
    <div class="container navbar-wrap">
        <a href="index.html" class="logo"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="logo"></a>
        <ul class="navbar col-mb-4">
            <li class="navbar-items"><a href="" class="navbar-links">系列鏡框</a></li>
            <li class="navbar-items"><a href="" class="navbar-links">門市據點</a></li>
            <li class="navbar-items"><a href="" class="navbar-links">部落格</a></li>
            <li class="navbar-items"><a href="" class="navbar-links">常見問題</a></li>
        </ul>
    </div>
</nav>