footer{
  background-color: $primary;
  color: $white;
}
.footer-social-link{
  width: 48px;
}
.cotactInfo span,.cotactInfo a{
  font-size: $font-size-base * 2.25;
}
.mr-27px{
  margin-right: 27px;
}
.policy-link{
  font-size: $font-size-base * 0.875;
}

@include mobile{
  .footer-social-link{
      width: 24px;
  }
  .mt-sm--24px{
      margin-top: -24px;
  }
  .cotactInfo span,.cotactInfo a{
      font-size: $font-size-base;
  }
  .mr-sm-10px{
      margin-right: 10px;
  }
  .policy-link{
      font-size: $font-size-base;
  }
}