a{
  color: #fff;
}
a:hover{
  color: lemonchiffon;
}
a:active{
  color: lightcoral;
}
footer{
  background-color: $primary;
  color: $white;
}
.footer-social-link{
  width: 48px;
}

.cotactInfo span,.cotactInfo a{
  font-size: $font-size-base * 2.25;
}
.cotactInfo span{
  margin-right: 27px;
}
.policy-link{
  font-size: $font-size-base * 0.875;
}

@include mobile{
  .footer-nav{
    display: none;
}
  .footer-nav-social{
      justify-content: flex-end;
      line-height: 1;
  }
  .footer-social a{
      width: 24px;
  }
  ul.mb-md-6{
      margin-bottom: 24px;
  }
  .cotactInfo{
      margin-top: -24px;
  }
  .cotactInfo span,.cotactInfo a{
      font-size: 16px;
  }
  .cotactInfo span{
      margin-right: 10px;
  }
  hr.mb-md-6{
      margin-bottom: 24px;
  }
  .copyrightInfo{
      display: block;
  }
  .copyrightInfo p{
      margin-bottom: 4px;
  }
  .policy{
      display: block;
  }
  .policy a{
      font-size: 16px;
      padding: 4px 0;
  }
}